
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
.main {
    background-color: #1d2437;
    background-image: url('../images/bg.png');
}
.container{
    max-width: 1070px;
    margin: auto;
    color: #fff;
}



header{
    padding-top: 45px;
  
}

.heroarea{
    display: flex;
}
.heroarea .esquerda-site {
    flex: 1;
}
.heroarea .esquerda-site h1 {
   font-weight: bold;
   font-size: 42px;
   line-height: 50px;
   padding-top: 80px;
   
}
.heroarea .esquerda-site p {
    color: #9999;
    font-size: 16px;
    line-height: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .formulario{
     display: flex;

 }


 .heroarea .esquerda-site .formulario input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    height: 40px;
    outline: none;
    color: #fff;
    font-size: 14px;
    width: 300px;
    padding: 0 10px;
 }
 .heroarea .esquerda-site .formulario button {
    height: 40px;
    border: 0;
    background-color: #0071b7;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    margin-left: 10px;
}
.heroarea .esquerda-site .formulario button:hover {
    
}

.heroarea .esquerda-site .techs img {
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 80px;

}

.heroarea .direita-site{
    flex: 1;
    background-image: url('../images/hero.png');
    background-size: 100% auto;

}